@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

/* Fonts */
@font-face {
  font-family: "Nunito-Regular";
  src: url(./Assets/fonts/Nunito-Font/Nunito-Regular.ttf);
}
@font-face {
  font-family: "Nunito-Medium";
  src: url(./Assets/fonts/Nunito-Font/Nunito-Medium.ttf);
}
@font-face {
  font-family: "Nunito-ExtraLight";
  src: url(./Assets/fonts/Nunito-Font/Nunito-ExtraLight.ttf);
}
@font-face {
  font-family: "Nunito-Light";
  src: url(./Assets/fonts/Nunito-Font/Nunito-Light.ttf);
}
@font-face {
  font-family: "Nunito-Bold";
  src: url(./Assets/fonts/Nunito-Font/Nunito-Bold.ttf);
}
@font-face {
  font-family: "Nunito-SemiBold";
  src: url(./Assets/fonts/Nunito-Font/Nunito-SemiBold.ttf);
}
@font-face {
  font-family: "Butler-Medium";
  src: url(./Assets/fonts/Butler-Font/Butler_Medium.otf);
}
@font-face {
  font-family: "Butler-Regular";
  src: url(./Assets/fonts/Butler-Font/Butler_Regular.otf);
}
@font-face {
  font-family: "Butler-Bold";
  src: url(./Assets/fonts/Butler-Font/Butler_Bold.otf);
}
@font-face {
  font-family: "Butler-Light";
  src: url(./Assets/fonts/Butler-Font/Butler_Light.otf);
}
/* -------------------------------------- */
/* Colors */
:root {
  --boldLetter: #1c0732;
  --lightLetter: #696f8c;
  --iconButton: #5b44ba;
  --shadow: #858cdd;
}
/* ----------------------------------------- */

/* Scroll Bar */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #858cdd;
  border-radius: 10px;
}
/* -------------------------------------------- */
i {
  color: var(--iconButton);
}
.display-3 {
  font-family: Butler-Regular;
  font-size: 48px;
  color: var(--boldLetter);
}
.container-fluid {
  background-color: var(--boldLetter);
}
.container-fluid .Header {
  padding-top: 2rem;
  display: block;
  justify-content: center;
}
.Header .cap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Header .horizontal-line {
  width: 86px;
  height: 1px;
  display: flex;
  justify-items: center;
  align-content: center;
  background: #ffffff;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.Header p {
  font-family: Nunito-Light;
  font-size: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}
.Header .display-1 {
  font-size: 96px;
  font-family: Butler-Medium;
  color: #ffffff;
  text-align: center;
}
.display-3 {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}
.details {
  display: flex;
  justify-content: center;
}
.details .cme {
  margin-right: 107px;
}
.details .heading {
  padding-left: 0%;
  list-style: none;
  display: flex;
  font-family: Nunito-Regular;
  font-size: 32px;
  color: var(--lightLetter);
  letter-spacing: 0.15rem;
}
.details a {
  text-decoration: none;
}
.details .det {
  padding-left: 0%;
  font-family: Nunito-Light;
  font-size: 20px;
  color: var(--lightLetter);
  list-style: none;
  display: flex;
  letter-spacing: 0.05rem;
}
.heading .horizontal-line {
  width: auto;
  height: 2px;
  display: flex;
  justify-items: center;
  align-content: center;
  background: var(--lightLetter);
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#para {
  font-family: Nunito-Regular;
  font-size: 20px;
  color: var(--lightLetter);
  align-content: center;
  text-align: center;
}
.secondrow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  align-items: center;
  justify-content: center;
}
.column-1 {
  text-align: center;
  align-items: center;
  margin-right: 5rem;
}
img {
  width: 460px;
  height: 333px;
  box-shadow: 2px 6px 29px 10px rgba(133, 140, 221, 0.33);
}
.footer {
  margin-top: 15.2vh;
  background: linear-gradient(
    180deg,
    rgba(133, 140, 221, 0),
    rgba(133, 140, 221, 1)
  );
}
.footer-nav {
  padding-top: 5rem;
  display: flex;
  justify-content: space-around;
}
.footer-nav a {
  text-decoration: none;
  font-family: Nunito-Light;
  font-size: 24px;
  color: var(--boldLetter);
}
.footer .horizontal-line {
  width: auto;
  height: 1px;
  display: flex;
  justify-items: center;
  align-content: center;
  background: #ffffff;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.footer-links ul {
  padding: 0px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.footer-links i {
  color: var(--boldLetter);
  font-size: 30px;
}
@media screen and (max-width: 576px) {
  .details .cme {
    margin-right: 0px;
    margin-bottom: 3rem;
  }
  .details .heading {
    padding-left: 0%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Nunito-Regular;
    font-size: 32px;
    color: var(--lightLetter);
    letter-spacing: 0.15rem;
  }
  .det {
    justify-content: center;
  }
}
