@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
/* -------------------------------------------- */
/* Fonts */
/* -------------------------------------------- */
@font-face {
  font-family: "Nunito-Regular";
  src: url(./Assets/fonts/Nunito-Font/Nunito-Regular.ttf);
}
@font-face {
  font-family: "Nunito-Medium";
  src: url(./Assets/fonts/Nunito-Font/Nunito-Medium.ttf);
}
@font-face {
  font-family: "Nunito-ExtraLight";
  src: url(./Assets/fonts/Nunito-Font/Nunito-ExtraLight.ttf);
}
@font-face {
  font-family: "Nunito-Light";
  src: url(./Assets/fonts/Nunito-Font/Nunito-Light.ttf);
}
@font-face {
  font-family: "Nunito-Bold";
  src: url(./Assets/fonts/Nunito-Font/Nunito-Bold.ttf);
}
@font-face {
  font-family: "Nunito-SemiBold";
  src: url(./Assets/fonts/Nunito-Font/Nunito-SemiBold.ttf);
}
@font-face {
  font-family: "Butler-Medium";
  src: url(./Assets/fonts/Butler-Font/Butler_Medium.otf);
}
@font-face {
  font-family: "Butler-Regular";
  src: url(./Assets/fonts/Butler-Font/Butler_Regular.otf);
}
@font-face {
  font-family: "Butler-Bold";
  src: url(./Assets/fonts/Butler-Font/Butler_Bold.otf);
}
@font-face {
  font-family: "Butler-Light";
  src: url(./Assets/fonts/Butler-Font/Butler_Light.otf);
}
/* -------------------------------------- */
/* Colors */
/* -------------------------------------------- */
:root {
  --boldLetter: #1c0732;
  --lightLetter: #696f8c;
  --iconButton: #5b44ba;
  --shadow: #858cdd;
}
/* ----------------------------------------- */

/* Scroll Bar */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #858cdd;
  border-radius: 10px;
}
/* -------------------------------------------- */
/* Global CSS */
/* -------------------------------------------- */
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

i {
  color: var(--iconButton);
}
/* -------------------------------------------- */
/* Header Navigation */
/* -------------------------------------------- */
.primary-header {
  margin: 0 4rem;
  align-items: center;
  justify-content: space-between;
  font-family: Nunito-Regular;
  color: var(--lightLetter);
  font-size: 20px;
}
.primary-header p {
  margin-top: 1rem;
}
.mobile-nav-toggle {
  display: none;
}
.primary-navigation {
  list-style: none;
  padding: 0%;
  margin: 0;
}
.primary-navigation a {
  text-decoration: none;
  color: var(--lightLetter);
}
@media (max-width: 576px) {
  .primary-header {
    margin: 0 0.5rem;
  }
  .primary-navigation {
    --gap: 2em;
    z-index: 1000;
    position: fixed;
    inset: 0 0 0 30%;
    flex-direction: column;
    text-align: start;
    padding: min(30vh, 10rem) 2em;
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);
    transform: translateX(100%);
    transition: transform 300ms ease-in;
    border-right: 31px #1c0732;
  }
  .primary-navigation a {
    color: var(--iconButton);
  }
  #nav-toggle.active {
    background-image: url(./Assets/Icons/x.svg);
  }
  #primary-navigation.active {
    transform: translateX(0%);
  }
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 2000;
    right: 0.5rem;
    background: transparent;
    background-image: url(./Assets/Icons/list.svg);
    background-repeat: no-repeat;
    filter: invert(26%) sepia(19%) saturate(6905%) hue-rotate(238deg)
      brightness(90%) contrast(87%);
    background-size: 1.5rem;
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1;
    border: 0;
    padding: 0;
  }
  .primary-navigation a {
    font-family: Butler-Bold;
    font-size: 36px;
    color: var(--boldLetter);
    text-shadow: 0px 5px 20px rgba(92, 68, 186, 0.658);
  }
  .FirstPage {
    margin-top: 5rem;
  }
}
/* -------------------------------------------- */
/* First Page */
/* -------------------------------------------- */
.FirstPage {
  margin-top: 8.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.display-1 {
  font-size: 4rem;
  font-family: Butler-Medium;
  color: var(--boldLetter);
  text-align: center;
  align-items: center;
}
.para {
  margin: 1rem auto;
  font-family: Nunito-ExtraLight;
  font-size: 32px;
  color: var(--lightLetter);
  text-align: center;
  letter-spacing: 0.5rem;
}
.FirstPage .button1 {
  background-color: #ffffff;
  color: var(--iconButton);
  border-radius: 7px;
  border-width: 2px;
  border-color: var(--iconButton);
  font-family: Nunito-ExtraLight;
  font-size: 24px;
  text-align: center;
  margin-right: 14px;
  box-shadow: 0px 5px 20px rgba(91, 68, 186, 0.35);
}
.button-col {
  display: flex;
  justify-content: center;
}
.FirstPage .button1:hover {
  background-color: #858cdd;
  color: #ffffff;
}
/* -------------------------------------------- */
/* Second Page */
/* -------------------------------------------- */

.SecondPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 197px;
  padding: 2rem;
  align-items: center;
  justify-content: center;
}
.SecondPage .column-1 {
  text-align: center;
  align-items: center;
  margin-right: 5rem;
}
.SecondPage .rounded-circle {
  max-width: 458px;
  box-shadow: 3px 6px 20px rgba(91, 68, 186, 0.35);
}
.SecondPage .column-2 {
  margin-left: auto;
}
.SecondPage .display-3 {
  font-family: Butler-Regular;
  font-size: 64px;
  color: var(--boldLetter);
  text-align: start;
}
.SecondPage .para2 {
  font-family: Nunito-Light;
  font-size: 24px;
  color: var(--lightLetter);
  max-width: 461px;
  text-align: start;
}

.SecondPage .column-2 .button1 {
  height: 43px;
  border-radius: 7px;
  border: none;
  font-family: Nunito-Medium;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  margin-right: 14px;
  box-shadow: 0px 5px 20px rgba(91, 68, 186, 0.35);
  background: linear-gradient(
    145deg,
    rgba(133, 140, 221, 1),
    rgba(91, 68, 186, 1)
  );
}
.home-links {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}
.home-links i:hover {
  text-shadow: 0px 5px 20px rgba(146, 124, 235, 0.658);
}
.SocialLinks i {
  font-size: 43px;
}
@media (max-width: 576px) {
  .SecondPage {
    display: block;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 5rem 0;
    padding: 0px;
  }
  .SecondPage .column-1 {
    text-align: center;
    align-items: center;
    margin-right: 0px;
  }
  .SecondPage .rounded-circle {
    max-width: 80vw;
    justify-content: center;
    align-items: center;
  }
  .SecondPage .column-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .SecondPage .display-3 {
    margin-top: 2rem;
    font-family: Butler-Regular;
    font-size: 64px;
    color: var(--boldLetter);
    text-align: center;
  }
  .SecondPage .para2 {
    font-family: Nunito-Light;
    font-size: 23px;
    color: var(--lightLetter);
    max-width: 370px;
    text-align: center;
  }
  .SecondPage .button1 {
    display: none;
  }
  .home-links {
    display: flex;
    justify-content: center;
  }
}

/* -------------------------------------------- */
/* Third Page */
/* -------------------------------------------- */

.ThirdPage .display-3 {
  font-family: Butler-Regular;
  font-size: 64px;
  color: var(--boldLetter);
  text-align: center;
}
.ThirdPage .para3 {
  font-family: Nunito-Light;
  font-size: 24px;
  color: var(--lightLetter);
  text-align: center;
  justify-content: center;
}
.web,
.devops,
.ML {
  font-family: Nunito-SemiBold;
  font-size: 32px;
  border-radius: 7px;
  background-color: var(--iconButton);
  display: flex;
  color: #ffffff;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 20px rgba(91, 68, 186, 0.35);
}
.web {
  padding: 0px 4px;
  max-width: 240px;
}
.devops {
  padding: 0px 4px;
  max-width: 180px;
}
.ML {
  padding: 0px 4px;
  max-width: 270px;
}
.Skills {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.TechStack {
  margin-top: 10%;
}
.TechStack .firstrow,
.secondrow {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 0;
}
.firstrow #TechName,
.secondrow #TechName {
  font-family: Nunito-Light;
  font-size: 20px;
  color: var(--lightLetter);
  display: none;
  justify-content: center;
}
.technology {
  text-align: center;
  align-content: center;
  align-items: center;
}
.firstrow .px-5 {
  padding-right: 5rem !important;
  padding-left: 5rem !important;
}
.secondrow .px-5 {
  padding-right: 5rem !important;
  padding-left: 5rem !important;
}
@media (max-width: 576px) {
  .Skills {
    flex-direction: column;
    align-items: center;
  }
  .Skills div {
    margin-bottom: 1rem;
  }
  .Skills .me-4 {
    margin-right: 0 !important;
  }
  .technology {
    display: flex;
    justify-content: center;
  }
  .technology li {
    margin-bottom: 0.5rem;
  }
  .firstrow,
  .secondrow {
    flex-direction: column;
  }

  .firstrow .px-5,
  .secondrow .px-5 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .firstrow .px-5 {
    padding-right: 3rem !important;
  }
}
/* -------------------------------------------- */
/* Fourth Page */
/* -------------------------------------------- */

.FourthPage {
  margin-top: 205px;
}
.FourthPage .display-3 {
  font-family: Butler-Regular;
  font-size: 64px;
  color: var(--boldLetter);
  text-align: center;
}
.FourthPage #course {
  margin-top: 3rem;
  font-family: Nunito-Light;
  font-size: 32px;
  color: var(--lightLetter);
  text-align: center;
  margin-bottom: 0;
}
.FourthPage #institute {
  font-family: Nunito-Light;
  font-size: 24px;
  color: var(--lightLetter);
  text-align: center;
  margin-bottom: 0;
}
.FourthPage #year {
  font-family: Nunito-ExtraLight;
  font-size: 20px;
  color: var(--lightLetter);
  text-align: center;
  margin-bottom: 0;
}
.Experience {
  margin-top: 168px;
}
.Experience .display-3 {
  font-family: Butler-Regular;
  font-size: 64px;
  color: var(--boldLetter);
  text-align: center;
}
.Experience #Heading {
  text-decoration: none;
  margin-top: 53px;
  font-family: Nunito-Regular;
  font-size: 36px;
  color: var(--boldLetter);
  display: flex;
  margin-bottom: 0px;
}
.Exp #Heading :hover {
  color: var(--iconButton);
}
.Exp {
  display: block;
  margin: 0 4rem;
}
#ExpYear {
  margin-bottom: 0;
  font-family: Nunito-Light;
  font-size: 20px;
  color: var(--lightLetter);
  display: flex;
  justify-content: flex-start;
}
#ExpDesc {
  font-family: Nunito-Light;
  font-size: 20px;
  list-style: none;
  padding-left: 0.5rem;
  color: var(--lightLetter);
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 576px) {
  .FourthPage {
    margin-top: 90px;
  }
  .Experience {
    margin-top: 90px;
  }
  .Experience .Exp {
    flex-direction: column;
  }
  .Exp #Heading {
    margin-top: 2rem;
    justify-content: center;
  }
  .Exp #ExpYear,
  #ExpDesc {
    justify-content: center;
    text-align: center;
  }
}
/* -------------------------------------------- */
/* Footer Page */
/* -------------------------------------------- */
.footer {
  background-color: var(--boldLetter);
  max-height: 470px;
  text-align: center;
  margin-top: 5rem;
}
#Name-Box {
  font-family: Butler-Light;
  font-size: 32px;
  border-radius: 7px;
  max-width: 178px;
  background-color: #ffffff;
  display: flex;
  color: var(--iconButton);
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 29px 17px rgba(133, 140, 221, 0.33);
}
.navigation {
  align-items: center;
}
.footer-nav {
  display: flex;
  justify-content: end;
}
.footer-nav a {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  font-family: Butler-Light;
  font-size: 32px;
}
.footer .first {
  display: flex;
  align-items: center;
  margin: 0 3rem;
  justify-content: space-between;
}
.navigation a:hover {
  color: #ced1f5;
  text-shadow: 0px 0px 10px #858cdd;
}
.horizontal-line {
  margin-top: 1.5rem;
  height: 1px;
  display: flex;
  justify-items: center;
  align-content: center;
  background: #ffffff;
  transform: matrix(1, 0, 1, 1, 1, 1);
}
.captions {
  font-family: Nunito-Light;
  font-size: 20px;
  color: #696fad;
  display: flex;
  justify-content: space-between;
  margin: 0 3rem;
  padding-bottom: 1rem;
}
@media (max-width: 576px) {
  .first {
    display: flex;
    flex-direction: column;
  }
  .navigation .footer-nav {
    margin-top: 1rem;
    display: flex;
    justify-items: center;
    color: #ffffff;
    padding: 0;
  }
  .horizontal-line {
    margin-top: 1rem;
    height: 1px;
    display: flex;
    justify-items: center;
    background: #ffffff;
    transform: matrix(1, 0, 0, 1, 1, 1);
  }
  .captions {
    display: flex;
    flex-direction: column;
  }
}
/* ---------------------------------------------- */
